.contenedor-productos  {
  display: grid;
  grid-template-columns: 1fr 270px; 
  gap: 40px;
}

.resumen-carrito {
  height: 100vh;
  width: 200px;
  margin-left: 20px;
  overflow: hidden;
  background-color: none;
}

.cart-container {
  position: fixed;
  top: 47px;
  right: 50px;
  border-radius: 20px;
  width: 300px;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-header {
  color: #d14f26;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

.item-details {
  flex-grow: 1;
}

.item-name {
  font-size: 16px;
  color: #333;
}

.item-price {
  color: #666;
  font-size: 14px;
}

.item-quantity {
  color: #d14f26;
  font-size: 14px;
  margin-right: 5px;
}

.item-total {
  font-size: 14px;
}

.remove-button {
  font-size: 9px;
  cursor: pointer;
  padding: 2px;
  margin-left: 10px;
  border: 1px solid #a9a7a7;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.order-total {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
}

.carbon-neutral {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 14px;
  margin: 15px 0;
}

.carbon-neutral img {
  width: 16px;
  margin-right: 8px;
}

.confirm-button {
  background-color: #d14f26;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 10px 15px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.confirm-button:hover {
  background-color: #bf4621;
}

.trueItem {
  display: block;
}
